<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/png">
    <title>Team Alpha : 중복 로그인 오류</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>이미 로그인이 되어있습니다.</h1>
        <br>
        <h3>혹시 계속 이 페이지가 보이시면, 캐시를 비워주시고 다시 시도 해 주세요.</h3>
        <a href="/">
            <h3>이용약관 동의 바로가기</h3>
        </a>
    </div>
</body>
</html>