
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta name="language" content="ko" />
	<meta id="viewport" name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1, minimum-scale=1" />
	<title>공지사항</title>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="공지사항" />
	<meta property="og:description" content="공지사항" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="400" />
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/2021temp/notice.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
	<!-- 공지사항 추가 : s -->
	<div class="win-popup-group round clearfix" style="max-width:650px;min-height:650px">
		<div class="modal-header txt_violet2">
			<h4 class="tc">파트너 웹 포털 패치 예정 안내</h4>
			<a href="javascript:window.close()" class="close_modal"><i class="material-icons txt_grey">close</i></a>
		</div>
		<div class="modal-body h_auto">
			<div class="oc_notice_pop">
                현재 여러분의 많은 의견을 수렴하여, 파트너 웹 포털에 아래와 같은 패치가 있을 예정입니다.<br><br>
                이용에 참고하시기 바랍니다.<br><br>
				<strong class="sec_tit">1. 패치 내용</strong>
				<ol class="ol_list">
					<li>파트너 신청과 더불어 파트너 서버 정보 변경(서버명 변경, 홍보지 변경, 초대링크 변경 등), 파트너 서버 신청 철회(서버 삭제, 단순 변심 등) 기능 추가</li>
				</ol><br>
				<strong class="sec_tit">2. 패치 일정</strong>
				<ol class="ol_list">
					<li>미정(현재 개발중)</li>
				</ol>
				<p class="mg_t10"><b class="txt_red">※ 이 패치로 인해 패치 전 후 사이트 점검이 잦을 수 있습니다.</b></p>
			</div>
		</div>
	</div>
	<!-- 공지사항 추가 : e -->
</body>
</html>
