<link rel="stylesheet" href="/static/2021temp/popup.css">

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<script>
// 체크버튼 클릭시
function fnPopupCheck() {
	var dayCheck = $("input:checkbox[name=popupCloseDay]:checked").val();
	
	if(dayCheck == 'on'){
		setCookie('mainPopup', "done", 1);	
	}
		
	$("#mainPopup").slideUp(); 
}

function noticeOpen(id) {
    // 공지사항 팝업
    window.open("/notice/"+id+"", "공지사항", "width=650, height=650, left=100, top=50")
}

function fnPopupClose(divId) {
    $('#'+divId).css('display', 'none');
}

</script>

<div class="adm_popupzone" id="mainPopup" style="display: block;">
						<div class="swiper-container wzwgPopupList swiper-wp8-horizontal">
							<div class="swiper-wrapper">
								<!-- 팝업슬라이드 하나 --> <div class="swiper-slide changeBg popcol_red">
										<div class="adm_pop_bnr_p">
											<div class="admdiv_wrap" style="cursor:pointer;" onclick="noticeOpen(1);">
												<div class="admtext_wrap">
													<h1>[파트너 웹 포털 패치 예정 안내]</h1>
													<p>이 패치로 인해 패치 전 후 사이트 점검이 잦을 수 있습니다.</p>
													<span>1</span>
												</div>
											</div>
										</div>
									</div> 
							</div>
							<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						<!-- </div>	
						<span style="left: 8%; bottom: 10px; position: absolute; z-index: 1;">
						<input type="checkbox" name="popupCloseDay" id="popupCloseDay" style="margin-right:5px; "><label for="popupCloseDay">하루동안 팝업을 열지 않음</label>
						</span>
						<a href="javascript:void(0);" onclick="fnPopupCheck();" class="admclose_btn">닫기</a>   --> <!-- 팝업이 슈욱 위로 사라지거나... 오늘하루동안 보지않기로.... -->
					</div>