
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Team Alpha : 이용약관 동의</title>
    <link rel="stylesheet" href="static/assets/css/style.css">
	<link rel="stylesheet" href="static/assets/css/V2Join.css?20201218">
    <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/png">
	<script type="text/javascript" src="static/assets/js/clickcr.js"></script>
    <script type="text/javascript" src="static/assets/js/lcs_nclicks.js"></script>
    <script type="text/javascript" src="static/assets/js/app.js"></script>
	<script type="text/javascript">lcs_do();</script>
	<meta name="decorator" content="V2_JOIN">
</head>
<body>
<div id="wrap">

	<!-- 스킵네비게이션 : 웹접근성대응-->
<div id="u_skip">
    <a href="#content" onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false;"><span>본문으로 바로가기</span></a>
</div>
<!-- //스킵네비게이션 -->
<!-- header -->
<div id="header" role="banner">
    <h1><a href="http://alphakr.xyz" class="h_logo"><span class="blind">Team Alpha</span></a></h1>
</div>
<!-- //header -->
<!-- container -->
<div id="container" role="main">
    <!-- content -->
    <div id="content">
        <!-- tg-text=title -->
        <h2 class="blind">Team Alpha 약관 동의</h2>
        <div class="join_content">
            <div class="join_form">
                <form id="join_form" method="POST" action="agreeAction" >
                    <!-- 약관동의 -->
                    <div class="terms_p">
                        <p class="terms_chk_all">
								<span class="input_chk">
									<input type="checkbox" id="chk_all" name="chk_all">
                                    <!-- [D] ie7/8에서 checked일때 label에 클래스 on추가해주세요. -->
									<label for="chk_all"><span class="chk_all_txt">Team Alpha 이용약관, 개인정보 수집 및 이용 동의에 모두 동의합니다.</span></label>
		                        </span>
                        </p>
                        <ul class="terms_bx_list">
                            <li class="terms_bx">
									<span class="input_chk">
										<input type="checkbox" id="termsService" name="termsService" class="chk">
										<label for="termsService" class="collect_personal"><a id="termsService2" href="#">Team Alpha 이용약관 동의</a><span class="terms_necessary">(필수)</span></label>
									</span>
                            </li>
                            <li class="terms_bx">
									<span class="input_chk">
										<input type="checkbox" id="termsPrivacy" name="termsPrivacy" class="chk">
										<label for="termsPrivacy" class="collect_personal"><a id="termsPrivacy2" href="#">개인정보 수집 및 이용 동의</a><span class="terms_choice">(필수)</span></label>
                                    </span>
                            </li>
                        </ul>
                        <span class="error" id="agreeMsg" style="display:none">Team Alpha 이용약관 동의과 개인정보 수집 및 이용 동의에 모두 동의해주세요.</span>
                    </div>
                    <!-- //약관동의 -->

                    <a name='agreeBottom'></a>
                    <div class="btn_area double">
                        <span><!-- tg-text=terms_button_cancel --><a href="#" id="btnCancel" class="btn_type btn_default" role="button">취소</a></span>
                        <span><!-- tg-text=terms_button_agree --><a href="#" id="btnAgree" class="btn_type btn_primary" role="button">확인</a></span>
                    </div>
                </form>
                <form id="disagree_form" method="POST" action="disagreeCheck">
                    <input type="hidden" name="chk_dis" value="on">
                </form>
            </div>
        </div>
    </div>
    <!-- //content -->
</div>
<!-- //container -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/JavaScript">
    $(document).ready(function() {
        checkSupportedBorwser();

        $("#chk_all").prop("checked",false);
        setTerms();

        $(".lang .sel").click(function() {
            $(this).attr("aria-expanded", "true");
            $(".lang .lang_select_wrap").show();
        });
        $(".lang .lang_select").click(function() {
            $(".lang .lang_select_wrap").hide();
        });


        $("#chk_all").click(function() {
            location.hash = 'agreeBottom';
            setTerms();
        })

        $("#termsService").click(function() {
            viewTerms();
        })

        $("#termsPrivacy").click(function() {
            viewTerms();
        })

        $("#btnCancel").click(function(event) {
            clickcr(this, 'tos.disagree', '', '', event);
            submitDisagree();
            return false;
        })

        $("#btnAgree").click(function(event) {
            clickcr(this, 'tos.agree', '', '', event);
            submitAgree();
            return false;
        })

        $("#termsService2").click(function(event) {
            var url = "https://alphakr.xyz/term.html";
            var name = "이용약관 보기";
            var pri = "toolbar=no, location=no, directories=no, menubar=no, resizable=yes, scrollbars=yes, status=yes, width=720, height=1280, top=10, left=10";
            window.open(url, name, pri);
        })

        $("#termsPrivacy2").click(function(event) {
            var url = "https://alphakr.xyz/privacy.html";
            var name = "개인정보처리방침 보기";
            var pri = "toolbar=no, location=no, directories=no, menubar=no, resizable=yes, scrollbars=yes, status=yes, width=720, height=1280, top=10, left=10";
            window.open(url, name, pri);
        })
    });

    function setTerms() {
        if ($("#chk_all").is(":checked")) {
            $("#termsService").prop("checked",true);
            $("#termsPrivacy").prop("checked",true);
        } else {
            $("#termsService").prop("checked",false);
            $("#termsPrivacy").prop("checked",false);
        }

        return true;
    }

    function checkSupportedBorwser() {
        var ua = navigator.userAgent;
        var msg = "인터넷 익스플로러 8.0 이하 버전은 지원하지 않습니다.";

        if(ua.indexOf("MSIE 6") > 0 || ua.indexOf("MSIE 7") > 0 || ua.indexOf("MSIE 8") > 0)  {
            alert(msg);
            location.replace("https://campaign.naver.com/goodbye_ie10/");
        }
    }

    function viewTerms() {

        if( !$("#termsService").is(":checked") || !$("#termsPrivacy").is(":checked") || !$("#termsLocation").is(":checked") || !$("#termsEmail").is(":checked")) {
            $("#chk_all").prop("checked",false);
        }

        if( $("#termsService").is(":checked") && $("#termsPrivacy").is(":checked") && $("#termsLocation").is(":checked") && $("#termsEmail").is(":checked")) {
            $("#chk_all").prop("checked",true);
        }

        return true;
    }

    function checkTerms() {
        var res = true;

        if ($("#termsService").is(":checked") == false || $("#termsPrivacy").is(":checked") == false) {
            $("#agreeMsg").show();
            res = false;
        } else {
            $("#agreeMsg").hide();
        }

        return res;
    }

    function submitAgree() {
        if (checkTerms() != true) {
            return false;
        }

        $("#join_form").submit();
        return true;
    }

    function submitDisagree() {
        $("#disagree_form").submit();
        return true;
    }
</script>

	<!-- footer -->
	<div id="footer" role="contentinfo">
		<ul>
			<li><strong><a href="https://alphakr.xyz/term.html">이용약관</a></strong></li>
			<li><strong><a href="https://alphakr.xyz/privacy.html">개인정보처리방침</a></strong></li>
		</ul>
		<address>
            <em class="copy">Copyright</em>
			<em class="u_cri">&copy;</em>
			<a href="https://alphakr.xyz/" target="_blank" class="u_cra">Team Alpha.</a>
			<span class="all_r">All Rights Reserved.</span>
		</address>
	</div>
	<!-- //footer -->
</div>
</body>
</html>