<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/png">
    <title>Team Alpha : 이용약관 동의</title>
</head>
<body>
    <form id="disagree_form" action="disagreeAction" method="post">
        <input type="hidden" name="chk_dis" value="ok">
    </form>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        res = confirm('이용약관에 동의하지 않으셨습니다.\n이용약관 동의페이지로 돌아가시겠습니까?\n\n(확인을 누르면 동의페이지로, 취소를 누르면 입력하신 정보대로 전송됩니다.')
        if(res==true){
            location.replace('/');
        } else{
            $("#disagree_form").submit();
        }
    </script>
</body>
</html>