
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/custom/App.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/swal.min.js"></script>
    <script>
    function cancel() {
      swal({
        title: "정말 취소하시겠습니까?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          swal("취소 되었습니다.", {
            icon: "success",
            buttons: false,
          });
          setTimeout(function(){
            location.replace('/form/1')
          }, 2500)
        } else {
          void(0);
        }
      });
    }
    function privacy_no() {
      swal({
        title: "정말 동의하지 않으시겠습니까?",
        text: "동의 하지 않으시면, 신청이 취소됩니다.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          swal("취소 되었습니다.", {
            icon: "success",
            buttons: false,
          });
          setTimeout(function(){
            location.replace('/')
          }, 2500)
        } else {
          void(0);
        }
      });
    }
    function etc_null() {
      $('#root').hide();
      swal({
        title: "정말 컨셉 정보를 입력하지 않으시겠습니까?",
        text: "'기타' 부분 컨셉 정보가 입력되지 않았습니다.\n입력하지 않으셔도 신청은 가능하나, \n불이익이 발생 할 수 있습니다.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          $('#root').show();
        } else {
          history.go(-1);
        }
      });
    }
    function paramcheck(){
      console.log('{{privacy}}');
      console.log('{{nickname}}');
      console.log('{{server}}');
      console.log('{{member}}');
      console.log('{{category}}');
      console.log('{{etc_text}}');
      if ('{{privacy}}' == 'no' || '{{privacy}}' == null || '{{privacy}}' == '') {
        privacy_no(); 
      }
      if ('{{category}}' == 'etc') {
        if ('{{etc_text}}' == null || '{{etc_text}}' == '') {
          etc_null();
        }
      }
    }
    </script>
    <title>Team Alpha</title>
</head>

<body onload="paramcheck();">
  <div id="root">
    <div class="App">
        <div>
            {% include '/components/navbar.html' %}
            <div class="index-small"><span class="index-topic-small">Team Alpha 파트너 신청</span></div>
            <div class="introduce bg-1 cr-0">
              <div class="container">
                  <div class="left"><span class="cr-1 intro-topic">Team Alpha 파트너 신청</span><span class="cr-1 intro-desc">Team Alpha의 파트너가 되고 싶으신가요? 아래에서 파트너 신청을 하셔서 파트너가 되어 보세요!</span></div>
                  <form action="/form/action" method="POST">
                    <input type="hidden" name="privacy" value="{{privacy}}" required>
                    <input type="hidden" name="nickname" value="{{nickname}}" required>
                    <input type="hidden" name="server" value="{{server}}" required>
                    <input type="hidden" name="member" value="{{member}}" required>
                    <input type="hidden" name="category" value="{{category}}" required>
                    <input type="hidden" name="etc_text" value="{{etc_text}}" required>
                    <span class="cr-1 intro-desc">파트너 신청 서버의 홍보지</span>
                    <span class="cr-1 intro-desc">홍보지는 "Paste Lavavel"을 통해 링크화 하여 첨부해주세요.</span><br>
                    <span>"Paste Lavavel" 주소는 <a href="https://paste.laravel.io">https://paste.laravel.io</a> 입니다.</span><br>
                    <span>사용법을 보려면 <a href="/guide/paste">여기</a>를 클릭하십시오.</span><br><br>
                    <div class="input-group mb-3">
                      <input class="form-control" placeholder="파트너 신청 서버의 홍보지" aria-label="파트너 신청 서버의 홍보지" aria-describedby="basic-addon2" name="message" required>
                    </div>
                    <span class="cr-1 intro-desc">홍보지에 사진이 있다면, 여기에 올려주세요!</span>
                    <span>"윈섭 이미지 CDN"에 올려 CDN화 된 링크를 첨부해주세요. 없을 경우에는 '없음' 이라고 표기 부탁드립니다.</span><br>
                    <span>"윈섭 이미지 CDN" 주소는 <a href="https://img.winsub.kr">https://img.winsub.kr</a> 입니다.</span><br>
                    <span>사용법을 보려면 <a href="/guide/img">여기</a>를 클릭하십시오.</span><br><br>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="홍보지에 사진이 있다면, 여기에 올려주세요!" aria-label="홍보지에 사진이 있다면, 여기에 올려주세요!" aria-describedby="basic-addon2" name="image" required>
                    </div>
                    <span class="cr-1 intro-desc">홍보지에 영상이 있다면, 여기에 올려주세요!</span>
                    <span>"Youtube"에 올려 링크화 하여 첨부해주세요. 없을 경우에는 '없음' 이라고 표기 부탁드립니다.</span><br>
                    <span>"Youtube" 주소는 <a href="https://studio.youtube.com">https://studio.youtube.com</a> 입니다.</span><br><br>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="홍보지에 사진이 있다면, 여기에 올려주세요!" aria-label="홍보지에 사진이 있다면, 여기에 올려주세요!" aria-describedby="basic-addon2" name="video" required>
                    </div>
                    <input type="reset" class="btn btn-danger btn-lg" onclick="cancel();" value="이전">
                    <input type="submit" class="btn btn-success btn-lg" value="다음">
                  </form>
              </div>
        </div>
        {% include '/components/footer.html' %}
</div>
</div>
</div>
</body>
</html>